body {
  background-image: url('img/bg.jpg');
  background-position: 50% 60%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-wrap: nowrap;
  background-size: cover;
}

p {
  color: #fff;
  font-size: 18px;
  font-family: arial;
}

#info {
  min-width: 200px;
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.66);
  color: #fff;
  box-sizing: content-box;
  height: 100%;
  border-radius: 10px;
  margin-top: 100px;
}

#gameField {
  min-width: 720px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
}

#colorSelection {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  box-sizing: border-box;
  border-left: 10px solid rgba(0,0,0,0.66);
  min-width: 200px;
  height: 100%;
  margin-top: 100px;
}

.gameItem {
  height: 60px;
  width: 60px;
  border: 1px solid #8B4513;
  box-sizing: border-box;
}

.colorSelector {
  height: 60px;
  width: 60px;
  border: 1px solid #000;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.colorSelector:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.colorSelected {
  border: 5px solid #fff;
}

.flexToNewString {
  width: 100%;
  height: 0;
}

@media (max-width: 1120px) {
  body {
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }

  #gameField {
    margin: 15px 0;
  }

  #info {
    margin: 0 auto;
    width: max-content;
    min-width: 0;
    font-size: 25px;
  }
  
  #colorSelection {
    margin: 0 auto;
    border-left: 0; 
    border-top: 10px solid rgba(0, 0, 0, 0.66);
    min-width: 0;
    width: max-content;
  }
}

.itemRed {
  background: #DC143C;
  box-shadow: 0 -15px 20px -15px #E9967A inset,
              0 -15px 20px -15px #F08080 inset,
              0 -15px 20px -15px #B22222 inset;
  animation: redAnimation 4s infinite alternate;
}

@keyframes redAnimation {
  50% {
    background: #8B0000;
    box-shadow: 0 -15px 20px -15px #F00 inset, 
                0 -15px 20px -15px #FA8072 inset, 
                0 -15px 20px -15px #DC143C inset;
  }
}

.itemBlue {
  background: #00BFFF;
  box-shadow: 0 -15px 20px -15px #7B68EE inset,
              0 -15px 20px -15px #0000FF inset,
              0 -15px 20px -15px #87CEFA inset;
  animation: blueAnimation 4s infinite alternate;
}

@keyframes blueAnimation {
  50% {
    background: #4169E1;
    box-shadow: 0 -15px 20px -15px #87CEFA inset, 
                0 -15px 20px -15px #6495ED inset, 
                0 -15px 20px -15px #4169E1 inset;
  }
}

.itemGreen {
  background: #32CD32;
  box-shadow: 0 -15px 20px -15px #98FB98 inset,
              0 -15px 20px -15px #00FA9A inset,
              0 -15px 20px -15px #00FF7F inset;
  animation: greenAnimation 4s infinite alternate;
}

@keyframes greenAnimation {
  50% {
    background: #3CB371;
    box-shadow: 0 -15px 20px -15px #90EE90 inset, 
                0 -15px 20px -15px #00FA9A inset, 
                0 -15px 20px -15px #00FF7F inset;
  }
}

.itemYellow {
  background: #FFEFD5;
  box-shadow: 0 -15px 20px -15px #FFE4B5 inset,
              0 -15px 20px -15px #FFDAB9 inset,
              0 -15px 20px -15px #EEE8AA inset;
  animation: yellowAnimation 4s infinite alternate;
}

@keyframes yellowAnimation {
  50% {
    background: #FF7F50;
    box-shadow: 0 -15px 20px -15px #FFE4B5 inset, 
                0 -15px 20px -15px #FFA07A inset, 
                0 -15px 20px -15px #F0E68C inset;
  }
}

.itemPurple {
  background:   #8B008B;
  box-shadow: 0 -15px 20px -15px #DDA0DD inset,
              0 -15px 20px -15px #EE82EE inset,
              0 -15px 20px -15px #DA70D6 inset;
  animation: purpleAnimation 4s infinite alternate;
}

@keyframes purpleAnimation {
  50% {
    background: #FF00FF;
    box-shadow: 0 -15px 20px -15px #8A2BE2 inset, 
                0 -15px 20px -15px #9400D3 inset, 
                0 -15px 20px -15px #9932CC inset;
  }
}

.itemOrange {
  background: #FF4500;
  box-shadow: 0 -15px 20px -15px #FFA500 inset,
              0 -15px 20px -15px #FF8C00 inset,
              0 -15px 20px -15px #FF7F50 inset;
  animation: orangeAnimation 4s infinite alternate;
}

@keyframes orangeAnimation {
  50% {
    background: #FFA500;
    box-shadow: 0 -15px 20px -15px #FF7F50 inset, 
                0 -15px 20px -15px #FF6347 inset, 
                0 -15px 20px -15px #FFD700 inset;
  }
}

.itemLime {
  background: #00FF00;
  box-shadow: 0 -15px 20px -15px #7FFF00 inset,
              0 -15px 20px -15px #7CFC00 inset,
              0 -15px 20px -15px #32CD32 inset;
  animation: limeAnimation 4s infinite alternate;
}

@keyframes limeAnimation {
  50% {
    background: #ADFF2F;
    box-shadow: 0 -15px 20px -15px #7CFC00 inset, 
                0 -15px 20px -15px #7FFF00 inset, 
                0 -15px 20px -15px #32CD32 inset;
  }
}

.itemBrown {
  background: #8B4513;
  box-shadow: 0 -15px 20px -15px #CD853F inset,
              0 -15px 20px -15px #A0522D inset,
              0 -15px 20px -15px #BC8F8F inset;
  animation: brownAnimation 4s infinite alternate;
}

@keyframes brownAnimation {
  50% {
    background: #A52A2A;
    box-shadow: 0 -15px 20px -15px #BC8F8F inset, 
                0 -15px 20px -15px #CD853F inset, 
                0 -15px 20px -15px #A0522D inset;
  }
}

.itemTransparent {
  background: rgba(255, 255, 255, 0.3);
}

.itemNoAnimation {
  box-shadow: none !important;
  animation: none !important; 
}


hr {
  width: 100%;
}